<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <img
      src="../../assets/img/information.svg"
      width="150"
      alt=""
      srcset=""
      class="samurai-icon animate__animated animate__fadeIn"
    />
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <h1
      class="animate__animated animate__fadeInUp"
      style="animation-delay: 200ms"
    >
      <strong> About </strong>
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <h2
      class="sub-title animate__animated animate__fadeIn"
      style="animation-delay: 300ms"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laudantium
      cupiditate iste natus quasi consequatur, doloremque dicta aliquid
      voluptate sunt expedita consequuntur ad? Tempora exercitationem provident
      quia dolorum, unde quas?
    </h2>
  </div>
  <div
    class="menu-list"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="2em"
  ></div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <p class="pro-tip">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores culpa,
      error quaerat distinctio voluptates vero unde voluptatibus amet enim qui
      minus iure itaque. Tempora laborum aliquid et quo, mollitia reiciendis.\
      Dolores culpa, error quaerat distinctio voluptates vero unde voluptatibus
      amet enim qui minus iure itaque. Tempora laborum aliquid et quo, mollitia
      reiciendis.
    </p>
  </div>
</div>
