<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="1em">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <img
      src="../../assets/img/samurai.svg"
      width="200"
      alt=""
      srcset=""
      class="samurai-icon animate__animated animate__fadeIn"
    />
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <h1
      class="animate__animated animate__fadeInUp"
      style="animation-delay: 200ms"
    >
      <strong> $SAMURAI </strong>
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <h2
      class="sub-title animate__animated animate__fadeInUp"
      style="animation-delay: 300ms"
    >
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2em">
    <mat-card
      class="example-card animate__animated animate__fadeInRight"
      style="animation-delay: 400ms"
    >
      <mat-card-header>
        <div mat-card-avatar class="balance-header-image"></div>
        <mat-card-title>
          <strong>
            <ng-container *ngIf="user?.balance; else elseBalance">
              {{ user?.balance }} ETH
            </ng-container>
            <ng-template #elseBalance> LOCKED </ng-template>
          </strong>
        </mat-card-title>
        <mat-card-subtitle>Your Samurai Balance</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <ng-container *ngIf="user.address; else elseTemplate">
          <p>
            Your Samurai Address is: <br />
            {{ user?.address }}
          </p>
        </ng-container>
        <ng-template #elseTemplate>
          <p>LOCKED</p>
        </ng-template>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card
      class="example-card animate__animated animate__fadeInRight"
      style="animation-delay: 500ms"
    >
      <mat-card-header>
        <div mat-card-avatar class="supply-header-image"></div>
        <mat-card-title>
          <strong></strong>
        </mat-card-title>
        <mat-card-subtitle>Your Samurai Supply</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <p class="pro-tip">
      Lorem ipsum is placeholder text commonly used in the graphic, print, and
      publishing industries for previewing layouts and visual mockups.
    </p>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="gappx">
    <button mat-raised-button color="primary">SEE ALL MENUS</button>
  </div>
</div>
